*{
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.display{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    min-height: 700px;
}

.sideBar .button{
    color: #FFFFFF;
    text-align: center;
    height:4em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
    background-color: #5400DD;
    border: none;
    font-size: clamp(12px, 1.5vw, 24px);
}

.sideBar .button a{
    margin: auto;
}

.sideBar .button:hover{
    background-color: #C9A8FF;
}

.sideBar{
    background-color: #5400DD;
    height: 100%;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    float: left;
}

.mainContent{
    height: 100%;
    width: 90%;
    float: right;
    position: relative;
    display: flex;
    justify-content: center;;
    align-items: center;
    flex-direction: column;
}

.experienceContent{
    height: 100%;
    width: 90%;
    float: right;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.experienceContent p{
    margin: .5em;
}

.experienceContent img{
    max-height: 50%;
    max-width: 50%;
}

.projectsContent{
    display: flex;
    align-content: center;
    justify-content:space-evenly;
    width: 100%;
    height: 90%;
    margin-top: 5%;
}

.projectsContent div{
    border: 2px solid #5400DD;
    border-radius: 2em;
    height: 90%;
    flex-basis: 30%;
    max-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(18px, 1.5vw, 24px);
    position: relative;
}

.projectsContent div:before{
    background: linear-gradient(rgba(255,255,255,0.6), #5400DD);
    content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 2em;
  z-index:0;
}

.projectsContent p{
    z-index: 1;
}

.projectsContent a{
    text-decoration: none;
    color: black;
}

.projectsContent a:hover{
    color:#FFFFFF;
}

.backgroundWebsite{
    background-image: url(website.PNG);
    background-position: center;
    background-repeat: no-repeat;
    background-position: center top;
}

.backgroundPCWebsite{
    background-image: url(shopping_website.PNG);
    background-position: center;
    background-repeat: no-repeat;
    background-position: center top;
}

.backgroundUNCCApp{
    background-image: url(UNCC_Parking_App.PNG);
    background-position: center;
    background-repeat: no-repeat;
}


.resumeContent{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90%;
    margin-top: 5%;
}

.resumeContent a{
    background-color: #5400DD;
    text-decoration: none;
    color: #FFFFFF;
    padding: 2em 2em;
}

.resumeContent a:hover{
    background: linear-gradient(rgba(255,255,255,0.6), #5400DD);
}

.icons{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.icons img:hover{
    cursor: pointer;
}


.alignment{
    margin-top: auto;
    height: 10%;
    width: 70%;
}

.icon{
    margin-top: 4em;
    margin-bottom: 4em;
    height: 4em;
}

.homeContent{
    display: flex;
    height: 90%;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.description{
    margin-right: 8em;
    margin-left: 8em;
    font-size: clamp(14px, 1.5vw, 24px);
}

.name{
    font-size: clamp(32px,2vw, 400px);
    color:#5400DD;
}

.projectsContent{
    display: none;
}

.experienceContent{
    display: none;
}

.resumeContent{
    display: none;
}

.fill:hover{
    fill: #FFFFFF;
    cursor: pointer;
}

.topbar{
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
}

.hamburgerMenu{
    background-color: #5400DD;
    height: 10%;
    width: 10%;
    min-width: 100px;
    /*z-index: 2;
    position: absolute;
    left: 0;
    top: 0;*/
    display: none;
    justify-content: center;
    align-items: center;
}

.hamburgerMenu:hover{
    cursor: pointer;
    .hamburger{
        fill: white;
    }
}

.portraitSideBar .button{
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    height:4em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
    background-color: #5400DD;
    border: none;
    font-size: clamp(12px, 1.5vw, 24px);
}

.portraitSideBar .button a{
    margin: auto;
}

.portraitSideBar .button:hover{
    background-color: #C9A8FF;
}

.portraitSideBar{
    opacity: 0;
    background-color: #5400DD;
    height: auto;
    width: 10%;
    display: none;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    min-width: 100px;
    z-index: 3;
    position: absolute;
    left: auto;
}

.portraitSideBar .icon{
    margin-top: 2em;
    margin-bottom: 2em;
    height: 2em;
}

@media(orientation: portrait){
    .sideBar{
        display: none;
    }
    .hamburgerMenu{
        display: flex;
    }
    .homeContent{
        margin-top: 10vh;
    }
    .projectsContent{
        flex-direction: column;
    }
    .description{
        margin-left: 2em;
        margin-right: 2em;
    }
}

@media(orientation: landscape){
    .portraitSideBar{
        display: none;
    }
}

@media(max-height: 38em){
    .icons img{
        height: 24px;
    }
}

@media(max-width: 38em){
    .icons img{
        height: 24px;
    }
}
